//  @import url('_variables.scss');
//@import '@fontsource/poppins/100.css';
// @import '@fontsource/poppins/200.css';
// @import '@fontsource/poppins/300.css';
// @import '@fontsource/poppins/400.css';
// @import '@fontsource/poppins/500.css';
// @import '@fontsource/poppins/600.css';
// @import '@fontsource/poppins/700.css';
// @import '@fontsource/poppins/800.css';
$inputPadding: .75rem .75rem;

:root{
   --theme_font: 'Poppins', sans-serif;
}

@font-face {
   font-family: 'Poppins', sans-serif;
   src: url('assets/font/Poppins-Light.ttf');
   src: url('assets/font/Poppins-Regular.ttf');
   src: url('assets/font/Poppins-Medium.ttf');
   src: url('assets/font/Poppins-Bold.ttf');
 }
* {
   box-sizing: border-box;
   font-family: var(--theme_font);
}

.flex-row-fluid {
   flex: 1 auto;
   min-width: 0;
}
.min_height{
   min-height: calc(100vh - 100px);
}

body,
html {
   font-family: var(--theme_font);
   font-size: 0.95rem;
   font-weight: 400;
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   height: 100%;
   // background: var(--surface-ground);
}

a {
   text-decoration: none !important;
}

ol,
ul {
   padding-left: 0 !important;
}

.topmenu {
   display: block !important;

   li {
      position: relative;
   }

   .child_one {
      right: -100%;
      top: 0;
   }
}

.siteTitle {
   text-transform: capitalize;
}
.parent_menu > li > a{
   border-top-right-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
}

.sidebar-menu {
   background: var(--primary);

   ul {
      padding-top: 0 !important;
   }

   li a {
      margin-bottom: 5px;
      font-size: .9rem;

      i:nth-of-type(2) {
         font-size: 12px;
      }
   }

   span {
      text-transform: capitalize !important;
   }
}

.close_sidebar {
   display: none !important;
}

.formElement_height_40{
   height: 38px;
}

@media only screen and (max-width: 991px) {

   /*Toggle menu*/
   .sidepanel,
   .topbar_menu {
      position: fixed;
      display: block;
      height: 100vh;
      width: 260px;
      background: #ccc;
      margin-left: -300px;
      transition: all 0.25s ease-in-out;
      top: 0;
      padding: 0;
      left: -300px;
      z-index: 100;
   }

   .sidepanel.Menutoggled {
      margin-left: 0;
      left: 0;
   }

   .topbar_menu {
      left: 0px;
      margin-left: 0px;
   }

   /*Toggle menu*/
}

// @media only screen and (max-width: 991px) {

//    close_sidebar {
//       display: flex !important;
//    }

//    .sidepanel,
//    .topbar_menu {
//       position: fixed;
//       display: block;
//       height: 100vh;
//       width: 260px;
//       background: #ccc;
//       margin-left: -300px;
//       transition: all 0.25s ease-in-out;
//       top: 0;
//       padding: 0;
//       left: -300px;
//       z-index: 100;
//    }

//    .sidepanel.Menutoggled {
//       margin-left: 0;
//       left: 0;
//    }

//    .topbar_menu {
//       left: -300px;
//       margin-left: 0px;
//    }

// }

.cs_required {
   color: var(--red-400);
   font-size: 14px;
   margin-top: 5px;
   display: block;
}

//image upload file
.upload_img{
   input{
      padding-left: 0;
   }
}

//  modal custom scrollbar
p-dialog,
.cs_topmenu_mobile {
   ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
   }

   ::-webkit-scrollbar {
      width: 5px;
      background-color: #F5F5F5;
      margin-left: 3px;
   }

   ::-webkit-scrollbar-thumb {
      background-color: #999;
   }
}



/*Primeng component modification css*/
.p-inputtext:enabled:focus {
   box-shadow: none;
}
.p-inputswitch {
   width: 1.8rem;
   height: 1rem;
   .p-inputswitch-slider:before {
      width: 10px;
      height: 10px;
      left: 1px;
      margin-top: -5px;
      border-radius: 50%;
      transition-duration: 0.2s;
   }
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
   transform: translateX(1.0rem);
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
   background: transparent;
   border: 1px solid var(--green-500);
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
   background: var(--green-500);
   left: -1px;
}
.p-inputswitch:hover .p-inputswitch-slider:before {
   box-shadow: none;
}

.cs_input_icon .pi-search{
   left: 8px;
}


.p-datepicker-trigger.p-button-icon-only{
   background: var(--primary-color);
   color: var(--surface-300);
   &:hover{
      background: var(--primary-400);
   }
}
.p-calendar-w-btn .p-datepicker-trigger.p-button .p-icon {
   color: var(--surface-300);
}

.p-chip {
   background-color:var(--primary-100);
  
   border-radius: 20px;
   font-size: .7rem;
   padding: 0 0.5rem;
   margin: 0 5px 5px 0;
}
.p-chip .p-chip-text {
   font-size: 0.8rem;
   line-height: 1.5;
   margin-top: 5px;
   margin-bottom: 5px;
   color: var(--primary-600);
}

.p-calendar-w-btn, .p-inputtext , .p-dropdown, p-multiselect.ng-dirty.ng-invalid > .p-multiselect{
   border-color: var(--surface-300) !important;
}
.header_right {
   .p-dropdown, p-multiselect.ng-dirty.ng-invalid > .p-multiselect{
      height: 2rem;
   }
}
/*-------------start input focus on click----------*/
p-multiselect.ng-dirty.ng-invalid .p-multiselect:not(.p-disabled).p-focus, 
.p-dropdown:not(.p-disabled).p-focus,
.p-inputtext:not(.login_sec .p-inputtext):enabled:focus {
   box-shadow: inset 0 0 0 2px var(--primary-200), 
   inset 0 0 0 2px var(--primary-200), 
   inset 0 0 0 2px var(--primary-200), 
   inset 0 0 0 2px var(--primary-200);
}
.tenancyNameInput.p-inputtext:enabled:focus{
   box-shadow: none !important;
}
/*-------------end input focus on click----------*/



.theme_settings .p-inputtext, .p-dropdown .p-inputtext{
   border-bottom: none;
}

.p-dropdown.p-component:not(.header .p-dropdown.p-component),
.p-password,
.p-password .p-inputtext,
.p-multiselect  {
   width: 100%;
   height: 36px;
}
.p-dropdown-panel.p-component:not(.header .p-dropdown-panel.p-component){
   width: 100%;
}

.p-tabview-nav-container {
   margin-bottom: 1rem;
}
.p_tab_menu {
   gap: 5px;
   display: flex;
   align-items: center;
}
.p-tabview .p-tabview-panels {
   padding: 0;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link{
   border: none;
}
.p-menuitem-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
   padding: 0.75rem;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
   background: var(--surface-200);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

p-dialog .p-tabview-panels {
   display: block;
   min-height: 20rem;
   max-height: 20rem;
   overflow-y: auto;
   overflow-x: hidden;
}

.p-badge{
   min-width: auto;
}
.p-overlaypanel .p-overlaypanel-content {
   padding: 1.5rem;
   max-width: 25rem;
}

p-tabpanel {
   display: block;
   margin-bottom: 10px;
}

.p-inputnumber-button {
   padding: 3px !important;
   width: 35px;
   height: 18px;
}

.p-inputnumber,
.p-inputnumber-input {
   width: 100%;
}

label {
   font-size: 1rem;
}

input,
select,
.p-inputtext,
.p-button,
.p-multiselect-label,
.p-dropdown-item {
   padding: 0.5rem 0.75rem;
}



table {
   border: 1px solid #ededed;
}
.p-datatable-thead th{
   font-weight: 600;
}
.p-datatable .p-datatable-tbody>tr>td {
   padding: .4rem 1rem;
}
.p-datatable-wrapper table {
   border-radius: 10px;
   overflow: hidden;
}
//ptable Custom css scroll
.p-datatable-wrapper::-webkit-scrollbar {
   // width: 0.8em;
   height: 10px;
   }
   .p-datatable-wrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 7px;
   }
   .p-datatable-wrapper::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 7px;
   }


.p-paginator {
   justify-content: end;
   flex-wrap: wrap;
   padding-left: 0;
   padding-right: 0;
}
.p-paginator .p-paginator-pages .p-paginator-page{
   min-width: 2.5rem;
   height: 2.5rem;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last{
   border: 1px solid var(--surface-900);
   min-width: 2.5rem;
   height: 2.5rem;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
   background: var(--primary-color) !important;
   // border-color: var(--primary-100);
   color: var(--primary-100);
}

.p-card .p-card-title {
   font-size: 1.0rem;
   font-weight: 700;
   margin-bottom: 0.5rem;
}


.p-dialog-header {
   padding: 0.8rem 1.5rem;
   border-bottom: 1px solid #ededed;
   margin-bottom: 0;
}

.p-dialog .p-dialog-content {
   background: var(--surface-card);
   color: rgba(0, 0, 0, 0.87);
   padding: 1.5rem 1.5rem 1.5rem;
}

.p-paginator .p-dropdown {
   height: auto;
   width: auto !important;
}



// treeview............
.p-tree {
   border: 0px;
   padding: 0;

   .p-tree-container .p-treenode {
      padding: 0 0 0 0.7rem;

      .p-treenode-content {
         margin: 0px 0px;
         background-color: #ffffff00;

         .p-tree-toggler {
            width: 1.5rem;
            height: 1.5rem;
         }
      }
   }
}



// top-menu toggle.............
#toggle {
   display: none;
}

.leftbar {
   position: absolute;
   left: -260px;
   z-index: 1;
   transition: left 0.25s ease-in-out;
}

#toggle:checked~.leftbar {
   left: 0;
}

#toggle:checked~.content {
   background-color: rgba(0, 0, 0, 0.5);
}

.topMenu_opened {
   display: block;
}

.topMenu_closed {
   display: none !important;
}


/*Responsive*/
@media only screen and (max-width: 430px) {
   .language_pan {
      position:absolute;
      top: 90px;
      right: 0px;

      .p-dropdown-panel {
         position: absolute;
         top: 0;
         left: auto;
         right: 0;
     }
     .mr-4{
      margin-right: 0 !important;
     }
   }
}